.login-container {
  height: 92vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #9fa59a;
}

.login-container > form {
  font-family: "Inter", sans-serif;
  margin-top: 90px;
  font-size: 20px;
}

.login-link {
  text-decoration: none;
  color: inherit;
} 

