* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
.main-div {
  padding: 0;
  margin: 0;
  background-color: #0f1510;
}

.head-div {
  width: 50%;
  height: 30rem;
  margin: auto;
  display: flex;
}

.main-heading {
  color: #fff;
  font-weight: 700;
  font-size: 4rem;
  text-align: center;
  margin: auto;
}

.caret-down {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.caret-down-icon {
  font-size: 48px;
}

.icon-container {
  display: flex;
}

.icon-div {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 32px;
  position: relative;
  margin-bottom: 24px;
}

.icon-img {
  max-width: 82px;
  max-height: 82px;
}

.icon-separator {
  background-color: #f2c469;
}

.icon-div::after {
  content: "";
  width: 80%;
  height: 1px;
  background-color: #f2c469;
  position: absolute;
  bottom: 0;
  left: 10%;
}

.main2-div {
  width: 25%;
  margin: 8px 28px;
}

.main2-subheading {
  font-size: 1rem;
  margin-bottom: 12px;
}

.main2-heading {
  font-size: 3rem;
}
*/
